ws/ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- WSDL file generated by PHP WSDLCreator (http://www.protung.ro) -->
<definitions name="NEWT-RTLS" targetNamespace="urn:NEWT-RTLS"
	xmlns:typens="urn:NEWT-RTLS" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd1="http://www.ecerami.com/schema"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ecerami.com/schema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
			<complexType name="Person">
				<sequence>
					<element name="id" type="xsd:integer" />
					<element name="firstName" type="xsd:string" />
					<element name="lastName" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="Event">
				<sequence>
					<element name="eventid" type="xsd:string" />
					<element name="eventtype" type="xsd:string" />
					<element name="postimestamp" type="xsd:string" />
					<element name="tagid" type="xsd:string" />
					<element name="mac" type="xsd:string" />
					<element name="name" type="xsd:string" />
					<element name="type" type="xsd:string" />
					<element name="posmapname" type="xsd:string" />
					<element name="poszoneid" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="Tag">
				<sequence>
					<element name="tagid" type="xsd:string" />
					<element name="mac" type="xsd:string" />
					<element name="name" type="xsd:string" />
					<element name="type" type="xsd:string" />
					<element name="postimestamp" type="xsd:string" />
					<element name="posmapname" type="xsd:string" />
					<element name="poszoneid" type="xsd:string" />
					<element name="battery" type="xsd:string" />
				</sequence>
			</complexType>
			<xsd:complexType name="ArrayOfPerson">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType"
							wsdl:arrayType="xsd1:Person[]"></xsd:attribute>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfEvent">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType"
							wsdl:arrayType="xsd1:Event[]"></xsd:attribute>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfTag">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType"
							wsdl:arrayType="xsd1:Tag[]"></xsd:attribute>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="getEvents"></message>
	<message name="getEventsResponse">
		<part name="getEventsReturn" type="xsd1:ArrayOfEvent"></part>
	</message>
	<message name="getPeople"></message>
	<message name="getPeopleResponse">
		<part name="getPeopleReturn" type="xsd1:ArrayOfPerson"></part>
	</message>
	<message name="getTags"></message>
	<message name="getTagsResponse">
		<part name="getTagsReturn" type="xsd1:ArrayOfTag"></part>
	</message>
	<message name="getAssignedTags">
		<part name="personId" type="xsd:integer"></part>
	</message>
	<message name="getAssignedTagsResponse">
		<part name="getAssignedTagsReturn" type="xsd1:ArrayOfTag"></part>
	</message>
	<portType name="RTLSSOAPPortType">
		<operation name="getEvents">
			<documentation>This method returns the latest events registered
				in the system.</documentation>
			<input message="typens:getEvents"></input>
			<output message="typens:getEventsResponse"></output>
		</operation>
		<operation name="getPeople">
			<documentation>This method returns a list of people registered in
				the system.</documentation>
			<input message="typens:getPeople"></input>
			<output message="typens:getPeopleResponse"></output>
		</operation>
		<operation name="getTags">
			<documentation>This method returns a list of tags registered in
				the system.</documentation>
			<input message="typens:getTags"></input>
			<output message="typens:getTagsResponse"></output>
		</operation>
		<operation name="getAssignedTags">
			<documentation>This method returns a list of tags assigned to person
				with a given Id.</documentation>
			<input message="typens:getAssignedTags"></input>
			<output message="typens:getAssignedTagsResponse"></output>
		</operation>
	</portType>
	<binding name="RTLSSOAPBinding" type="typens:RTLSSOAPPortType">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<operation name="getEvents">
			<soap:operation soapAction="urn:RTLSSOAPAction"></soap:operation>
			<input>
				<soap:body namespace="urn:NEWT-RTLS" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:NEWT-RTLS" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getPeople">
			<soap:operation soapAction="urn:RTLSSOAPAction"></soap:operation>
			<input>
				<soap:body namespace="urn:NEWT-RTLS" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:NEWT-RTLS" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getTags">
			<soap:operation soapAction="urn:RTLSSOAPAction"></soap:operation>
			<input>
				<soap:body namespace="urn:NEWT-RTLS" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:NEWT-RTLS" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
		<operation name="getAssignedTags">
			<soap:operation soapAction="urn:RTLSSOAPAction"></soap:operation>
			<input>
				<soap:body namespace="urn:NEWT-RTLS" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</input>
			<output>
				<soap:body namespace="urn:NEWT-RTLS" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"></soap:body>
			</output>
		</operation>
	</binding>
	<service name="NEWT-RTLSService">
		<port name="RTLSSOAPPort" binding="typens:RTLSSOAPBinding">
			<soap:address location="http://rtls.gg/ws/"></soap:address>
		</port>
	</service>
</definitions>